<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="header">
    <ul class="menu"> 
      <li><img class="logo" src="https://cdn.pixabay.com/photo/2015/03/10/17/23/youtube-667451_960_720.png" alt=""></li>
      <li>Videos Top</li>
      <li>Deportes</li>
      <li>Musica</li>
      <li>Tecnologia</li>
      <li>Comedia</li>
    </ul>
  </div>
</body>
</html>